<section  class="education-index">
    <div class="card-education-index-resume">
        <div class="card-education-index">
            <img src="https://www.betrybe.com/static/images/logo-negative-green.svg" alt="Logo Sabios">
            <div class="card-education-index-info">
                <p>Nível: Profissionalizante</p>
                <p>Status: Concluído</p>
            </div>
        </div>
    </div>
    <div class="card-education-index-description">
        <h1>Desenvolvimento Back-end</h1>
        <p>Aprofundei e apliquei de forma prática conteúdos como: Docker, MySQL, Node.js & Express, Testes Unitários e de Integração com Mocha, Chai e Sinon, TypeScript, Arquitetura em Camadas, REST, JWT, ORM com Sequelize, Deployment, POO e princípios SOLID.
        </p>
        <hr>
        <h3>Habilidades técnicas:</h3>
        <div class="habilidades">
            <ul>
                <li>Banco de Dados</li>
                <li>SQL</li>
                <li>NoSQL</li>
            </ul>
            <ul>
                <li>Server-Side</li>
                <li>Deploy</li>
                <li>Node</li>
            </ul>
            <ul>
                <li>Express.JS</li>
                <li>ORM</li>
                <li>Docker</li>
            </ul>
            <ul>
                <li>Testes unitários</li>
                <li>Testes de integração</li>
            </ul>
        </div>
    </div>
    <iframe src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/74085504" class="pdf-iframe"></iframe>
</section>