<section  class="education-index">
    <div class="card-education-index-resume">
        <div class="card-education-index">
            <img src="https://theme.zdassets.com/theme_assets/9633455/ecf228e8c15da1a8bd07f574e675a0ac59330968.png" alt="Logo Sabios" width="150px">
            <div class="card-education-index-info">
                <p>Nível: Profissionalizante</p>
                <p>Status: Concluído</p>
            </div>
        </div>
    </div>
    <div class="card-education-index-description">
        <h1>Desenvolvimento Web</h1>
        <p>A Trybe é uma escola de tecnologia que oferece o curso de Desevolvimento Web Full-Stack com mais de 1500 horas de formação que aborda fundamentos de desenvolvimento web, desenvolvimento Front-end, desenvolvimento Back-end, ciência da computação, metodologias ágeis e habilidades comportamentais.
            Turma 25 | Julho de 2022 a Julho de 2023. 
        <hr>
        <h3>Módulos:</h3>
        <div class="habilidades">
            <div class="habilidades-1">
                <button type="button" value="Trybe-fundamentos" (click)="toggleComponent($event)">Fundamentos do Desenvolvimento Web</button>
                <button type="button" value="Trybe-frontEnd" (click)="toggleComponent($event)">Desenvolvimento Front-end</button>
                <button type="button" value="Trybe-backEnd" (click)="toggleComponent($event)">Desenvolvimento Back-end</button>
                <button type="button" value="Trybe-ciencia" (click)="toggleComponent($event)">Ciência da Computação</button>
                <button type="button" value="Trybe-c#" (click)="toggleComponent($event)">C#</button>
            </div>
        </div>
    </div>
    <iframe src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/83174878" class="pdf-iframe"></iframe>
</section> 