<section  class="education-index">
    <div class="card-education-index-resume">
        <div class="card-education-index">
            <img src="https://www.betrybe.com/static/images/logo-negative-green.svg" alt="Logo Sabios">
            <div class="card-education-index-info">
                <p>Nível: Profissionalizante</p>
                <p>Status: Concluído</p>
            </div>
        </div>
    </div>
    <div class="card-education-index-description">
        <h1>Desenvolvimento Web</h1>
        <p></p>
        <hr>
        <h3>Módulos:</h3>
        <div class="habilidades">
            <button type="button" value="Trybe-fundamentos" (click)="toggleComponent($event)">Fundamentos do Desenvolvimento Web</button>
            <button type="button" value="Trybe-frontEnd" (click)="toggleComponent($event)">Desenvolvimento Front-end</button>
            <button type="button" value="Trybe-backEnd" (click)="toggleComponent($event)">Desenvolvimento Back-end</button>
            <button type="button" value="Trybe-ciencia" (click)="toggleComponent($event)">Ciência da Computação</button>
        </div>
    </div>
    <!-- <iframe src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/74085504" class="pdf-iframe"></iframe> -->
</section> 