.experiences {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 25px;
    flex: 1;
}

.experience button {
    min-width: 75px;
    width: 100%;
    height: 70px;
    background-color: #50E3C2;
    border: none;
    margin: 5px 10px 5px 0px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px;
}

.experience-info {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 4;
}

@media screen and (max-width: 600px) {
    .experiences {
        margin-bottom: 100px;
    }
}

@media (max-width: 440px) {
    .experiences {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
    }

    .experience {
        display: flex;
        flex-direction: row;   
        margin-bottom: 20px; 
    }

    .experience button {
        width: 20%;
    }
}