.experiences {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 40px;
}

.experience button {
    width: 200px;
    height: 70px;
    background-color: #50E3C2;
    border: none;
    margin: 5px 10px 5px 0px;
    box-shadow: 1px 1px 1px 1px;
}

.experience-info {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
}

/* Estilos para telas pequenas */
@media screen and (max-width: 900px) {
    .experiences {
        display: flex;
        flex-direction: column;
    }

    .experience-info {
        margin: 10px 0 0 20px;
        justify-content: start;
    }
}