<section  class="education-index">
    <div class="card-education-index-resume">
        <div class="card-education-index">
            <img src="https://media.licdn.com/dms/image/C4D0BAQEstwlckxDAxw/company-logo_100_100/0/1652709318558/faculdade_arnaldo_logo?e=1703721600&v=beta&t=Qf3X0z06YjWlF7HT9mjlPCJquha_-4-3AIw-ap5TVYg" alt="Logo Sabios">
            <div class="card-education-index-info">
                <p>Nível: Bacharel</p>
                <p>Status: Concluído</p>
            </div>
        </div>
    </div>
    <div class="card-education-index-description">
        <h1>Ciências Econômicas</h1>
        <p>O curso de Ciências Econômicas nos capacita profissionais para análise de cenários social, político e econômico a fim de identificar gargalos e propor soluções. Para atuação em áreas de planejamento auxiliando a formulação de políticas públicas, bem como a gestão das empresas privadas visando o desenvolvimento econômico e a maximização do lucro.</p>
        <p>Na área financeira orientamos sobre investimentos, financiamentos, bem como elaboramos e avaliamos as políticas fiscais, monetárias e cambiais.</p>
        <!-- <hr>
        <h3>Habilidades técnicas:</h3>
        <div class="habilidades">
            <ul>
                <li>Internet</li>
                <li>Unix & Shell</li>
                <li>Git</li>
            </ul>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
            <ul>
                <li>JS ES6</li>
                <li>Higher Order Functions</li>
                <li>Testes Unitários em Javascript</li>
            </ul>
        </div> -->
    </div>
    <!-- <iframe src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/58860068" class="pdf-iframe"></iframe> -->
</section> 
