<div class="sobre">
    <div class="sobre-perfil">
        <div>
            <img class="sobre-perfil-1" src="https://avatars.githubusercontent.com/u/104307222?v=4" alt="" />
        </div>
        <img class="sobre-perfil-2" src="https://github-readme-stats-sigma-five.vercel.app/api?username=priscilaSartori&show_icons=true&include_all_commits=true&count_private=true"/>
        <img class="sobre-perfil-3" src="https://github-readme-stats-sigma-five.vercel.app/api/top-langs/?username=priscilaSartori&layout=compact&langs_count=7"/> 
    </div>
    <div class="sobre-descricao">
        <p>Sou Desenvolvedora Full-stack com conhecimentos em JavaScript, React.js, Next.js, Angular.js, Redux, TypeScript, Python, MySQL, Docker, MongoDB, C# e consumo de APIs REST.</p> 
        <p>Apaixonada pelo desenvolvimento de componentes reutilizáveis.</p>
        <p>Moro no Rio de Janeiro (RJ) e sou formada em Gestão de Recursos Humanos e em Ciências econômicas. Tenho vasta experiência com gestão e liderança de equipes, departamento pessoal e gestão financeira. Ao longo de minha carreira, sempre procurei desenvolver planilhas e sites que facilitassem o meu dia a dia.</p>
        <p>Em 2022 conheci a Trybe, uma escola de tecnologia com mais de 1500 horas de formação que aborda fundamentos de desenvolvimento web e dediquei 12 meses no aprendizado em: Front-end, Back-end, ciência da computação, metodologias ágeis e habilidades comportamentais.</p>
        <p>Meu foco é aprender novas coisas e aprimorar ainda mais as habilidades que possuo, para o desenvolvimento e eficiência de novos sistemas e na melhoria de existentes para uma melhor experiência do usuário.</p>
    </div>
</div>