.sobre{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 100%;
}

.sobre-perfil {
    display: flex;
    flex-direction: column;
    padding: 15px 30px 15px 30px;
}

.sobre-perfil-1 {
    width: 200px;
    border-radius: 100px;
    margin: 0 0 10px 20px;
}

.sobre-perfil-2 {
    width: 250px;
}

.sobre-perfil-3 {
    width: 250px;
}

.sobre-descricao {
    background-color: indigo;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    width: 950px;
    height: 360px;
    border-radius: 10px;
    padding: 30px;
}

.sobre-descricao p {
    color: #fff;
    text-align: justify;
    padding-top:20px;
}