mat-toolbar {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  border-bottom: #fff solid 1px;
  background-color: #fff;
  box-shadow: 0 4px 2px -2px #c8cbd6;
}

.header-logo {
  color: #1a2744;
}

.header-logo span {
  padding: 0 10px 0 10px;
  color:#50E3C2;
}

.header-nav {
  display: flex;
  flex-direction: row;
  width: 700px;
  justify-content: space-evenly;
}

.header-nav nav button {
  background-color: transparent;
  border: none;
  font: 20px Poppins,sans-serif;
  color: #1a2744;
}

  .scroll {
    display: block;
  }

/* Estilos para telas pequenas (dispositivos móveis) */
@media screen and (max-width: 767px) {
  .header-logo {
    display: none;
  }

  .header-nav nav button {
    font-size: medium;
  }
}
