<mat-toolbar fxLayout="row" fxLayout.xs="column" class="full-width-toolbar">
    <div class="header-logo">
        <span> < </span>
            priscilaSartori - PS
        <span> /> </span>
    </div>
    <div class="header-nav" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <nav>
            <a href="">Home</a>
            <a href="/about">Sobre</a>
            <a href="/skills">Habilidades</a>
            <a href="/experience">Experiências</a>
            <a href="/education">Formação</a>
            <a href="/projects">Projetos</a>
            <span class="header-nav-span"></span>
        </nav>
        <!-- <div>
            <label class="switch">
                <input type="checkbox" name="" id="" (click)="changeTheme()">
                <span class="slider round"></span>
                <mat-icon class="iconDark" *ngIf="!theme">dark_mode</mat-icon>
                <mat-icon class="iconLigth" *ngIf="theme">light_mode</mat-icon>
            </label>
        </div>  -->
    </div> 
</mat-toolbar>
