body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.skill-box {
    margin: 20px;
}

h2 {
    display: block;
    font-size: 30px;
    position: relative;
    padding: 40px 30px 30px 80px;
    color: #1a2744;
    z-index: 0;
    opacity: 1;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 2rem;
}

.box {
    width: 12rem;
    height: 10rem;
    border-radius: 25px;
    border: #c8cbd6 solid 1px;
    background-color: #fff;
    box-shadow: 2px 4px 2px 2px #50E3C2;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 0;
}

.imgHabilidades {
    width: 60px;
    height: 60px;
    z-index: 1;
}

.box span::before{
    content: "";
    position: absolute;
    width: 5rem;
    height: 17rem;
    left: 4.5rem;
    top: -40%;
    background-color: #0FFA7D;
    animation: 6s linear 0s infinite normal none running anim;
    border-radius: 10px;
}

.box span::after {
    content: "";
    position: absolute;
    inset: 5px;
    background: #fff;
    border-radius: 20px;
}

.box h4 {
    z-index: 1;
    color: #1a2744;
}

@keyframes anim{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@media (max-width: 850px) {
    .main {
        gap: 1rem;
    }
}

@media (max-width: 600px) {
    .skill {
        margin-bottom: 100px;
    }
}