.card-education-experiencia {
    width: 200px;
    padding: 0 0 20px 0;
}

.education-index {
    display: flex;
    flex-direction: row;
    width: 950px;
    height: 360px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 3px 4px 3px 3px #50E3C2;
    border: #c8cbd6 solid 1px;
}

.card-education-index-resume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.card-education-index {
    width: 300px;
    padding: 10px 0 0 15px;
}

.card-education-index-info {
    margin: 0 0 20px 0;
    color: #50E3C2;
}

.card-education-index-techs {
    color: #1a2744;
    z-index: 1;
}

.card-education-index-description {
    width: 600px;
    padding: 0 10px 0 10px;
    margin: 0 0 20px 0;
    color: #1a2744;
    z-index: 1;
}

.card-education-index-description h1 {
    color: #50E3C2;
}

.card-education-index-description h3 {
    color: #50E3C2;
    margin: 0;
}

.habilidades {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.habilidades-1 button{
    border: none;
    background: #50E3C2;
    color: #1a2744;
    text-align: left;
    padding: 5px;
    width: 200px;
    height: 40px;
    margin: 0 5px 5px 0;
    box-shadow: 1px 1px 1px 1px;
}

.card-education-index-description p {
    text-align: justify;
}

.pdf-iframe {
    padding-left: 20px;
    top: 40%;
    position: absolute;
    width: 600px;
    height: 440px;
    border: none;
    transform: scale(0.5);
    transform-origin: top left;
}

.pdf-iframe:hover {
    transform: scale(1.0);
    top: 18px;
    z-index: 1;
    padding-left: 0;
  }