.education {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 10px;
}

.card-education {
    width: 90%;
    padding: 2em;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    margin: 10px 0 50px 0;
    border-radius: 10px;
    box-shadow: 3px 4px 3px 3px #50E3C2;
    border: #c8cbd6 solid 1px;
}

.card-education-experiencia {
    width: 200px;
    padding: 0 0 20px 0;
}

.card-education header {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    /* justify-content: flex-start; */
    justify-content: space-between;
    /* margin-right: 20px; */
}

.pdf-iframe {
    width: 300px;
    height: 200px;
    border: none;
    transform: scale(1.0);
    transform-origin: top left;
}

.pdf-iframe:hover {
    transform: scale(2.0);
    position: absolute;
    top: 18px;
    z-index: 1;
    padding-left: 0;
}

.card-sabios-description {
    font-size: 1em;
}

.card-education-modulos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card-education-modulos button {
    width: 130px;
    height: 70px;
    background-color: #50E3C2;
    border: none;
    margin: 3px;
    box-shadow: 1px 1px 1px 1px;
}

@media screen and (max-width: 800px) {
    .card-education {
        width: 85%;
    }

    .card-education header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 630px) {
    .education {
        top: 100px;
        width: 100%;
    }
}

@media (max-width: 560px) {
    .card-education {
        margin-bottom: 100px;
    }
}

@media (max-width: 440px) {
    .education {
        top: 180px;
    }

    .card-education-modulos button {
        width: 120px;
    }
}

@media (max-width: 380px) {
    .pdf-iframe {
        width: 180px;
        height: 100px;
    }
}