<section  class="education-index">
    <div class="card-education-index-resume">
        <div class="card-education-index">
            <img src="https://www.betrybe.com/static/images/logo-negative-green.svg" alt="Logo Sabios">
            <div class="card-education-index-info">
                <p>Nível: Profissionalizante</p>
                <p>Status: Concluído</p>
            </div>
        </div>
    </div>
    <div class="card-education-index-description">
        <h1>Fundamentos do Desenvolvimento Web</h1>
        <p>Exploração dos princípios da Internet, da lógica de programação e criação de códigos usando as linguagens mais requisitadas pelo mercado. Uso das principais ferramentas que programadores utilizam diariamente para a construção e implementação de projetos digitais.</p>
        <p>Desenvolvimento da capacidade de entender como uma pessoa programadora trabalha, desenvolvendo o raciocínio aplicado à formulação e resolução de problemas computacionais. Criação de páginas na web, escrever algoritmos básicos, criar e testar códigos que possibilitam o funcionamento correto de programas e aplicações web.</p>
        <hr>
        <h3>Habilidades técnicas:</h3>
        <div class="habilidades">
            <ul>
                <li>Internet</li>
                <li>Unix & Shell</li>
                <li>Git</li>
            </ul>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
            <ul>
                <li>JS ES6</li>
                <li>Higher Order Functions</li>
                <li>Testes Unitários em Javascript</li>
            </ul>
        </div>
    </div>
    <iframe src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/58860068" class="pdf-iframe"></iframe>
</section> 