<section class="educations">
    <div class="education">
        <button type="button" (click)="changeEducation($event)" value="Economia">
            Ciências Econômicas
        </button>
        <button type="button" (click)="changeEducation($event)" value="Trybe">
            Desenvolvimento Web
        </button>
        <button type="button" (click)="changeEducation($event)" value="DataAnalytics">
            Data Analytics
        </button>
    </div>
    <div class="education-info">
        <app-desenvolvimento-web *ngIf="educationService.education == 'Trybe'"></app-desenvolvimento-web>
        <app-desenvolvimento-web-fundamentos *ngIf="educationService.education == 'Trybe-fundamentos'"></app-desenvolvimento-web-fundamentos>
        <app-desenvolvimento-Web-front-end *ngIf="educationService.education == 'Trybe-frontEnd'"></app-desenvolvimento-Web-front-end>
        <app-desenvolvimento-Web-backend *ngIf="educationService.education == 'Trybe-backEnd'"></app-desenvolvimento-Web-backend>
        <app-desenvolvimento-Web-ciencia-dados *ngIf="educationService.education == 'Trybe-ciencia'"></app-desenvolvimento-Web-ciencia-dados>
        <app-desenvolvimento-web-csharp *ngIf="educationService.education == 'Trybe-c#'"></app-desenvolvimento-web-csharp>
        <app-economia *ngIf="educationService.education == 'Economia'"></app-economia>
        <app-data-analytics *ngIf="educationService.education == 'DataAnalytics'"></app-data-analytics>
        <app-data-analytics-fundamentos *ngIf="educationService.education == 'DataAnalytics-fundamentos'"></app-data-analytics-fundamentos>
        <app-data-analytics-perguntas *ngIf="educationService.education == 'DataAnalytics-perguntas'"></app-data-analytics-perguntas>
        <app-data-analytics-preparar-dados *ngIf="educationService.education == 'DataAnalytics-preparar-dados'"></app-data-analytics-preparar-dados>
        <app-data-analytics-processar-dados *ngIf="educationService.education == 'DataAnalytics-processar-dados'"></app-data-analytics-processar-dados>
        <app-data-analytics-analisar-dados *ngIf="educationService.education == 'DataAnalytics-analisar-dados'"></app-data-analytics-analisar-dados>
        <app-data-analytics-compartilhar-dados *ngIf="educationService.education == 'DataAnalytics-compartilhar-dados'"></app-data-analytics-compartilhar-dados>
        <app-data-analytics-analisar-dados-r *ngIf="educationService.education == 'DataAnalytics-analisarDados-R'"></app-data-analytics-analisar-dados-r>
    </div>
</section>