.educations {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.education {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 40px;
}

.education button {
    width: 200px;
    height: 70px;
    background-color: indigo;
    border: none;
    margin: 5px 10px 5px 0px;
    color: #fff;
}

.education-info {
    display: flex;
    align-items: center;
    width: 1050px;
}