<section  class="education-index">
    <div class="card-education-index-resume">
        <div class="card-education-index">
            <img src="https://theme.zdassets.com/theme_assets/9633455/ecf228e8c15da1a8bd07f574e675a0ac59330968.png" alt="Logo Sabios" width="150px">
            <div class="card-education-index-info">
                <p>Nível: Profissionalizante</p>
                <p>Status: Concluído</p>
            </div>
        </div>
    </div>
    <div class="card-education-index-description">
        <h1>Desenvolvimento C#</h1>
        <p>Com carga horária de 170 horas/aula, aprofundei e apliquei de forma prática conteúdos como: .NET Core, Criação de APIs com ASP.NET, Testes Unitários com xUnit, Banco de Dados com SQL Server, Entity Framework, Autenticação e Autorização, Collections & LINQ, Docker, Arquitetura de Microsserviços e Deployment com Azure. Além disso, concluiu 100 horas/aula de conteúdos revisionais de Carreira, incluindo revisões de Front-end e Back-end e um desafio full stack.</p>
        <hr>
        <h3>Habilidades técnicas:</h3>
        <div class="habilidades">
            <ul>
                <li>C#</li>
                <li>NET Core</li>
                <li>ASP.NET</li>
                <li>Testes Unitários</li>
            </ul>
            <ul>
                <li>SQL</li>
                <li>Entity Framework</li>
                <li>Autenticação e Autorização</li>
                <li>Collections & LINQ</li>
            </ul>
            <ul>
                <li>Docker</li>
                <li>Arquitetura de Microsserviços</li>
                <li>Azure</li>
            </ul>
        </div>
    </div>
    <iframe src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/82945982" class="pdf-iframe"></iframe>
</section> 