.header {
  position: fixed; 
  width: 100%; 
  z-index: 1;
  height: 20%;
}

.container {
  overflow-y: auto; /* Permitir rolagem vertical quando o conteúdo ultrapassar a altura */
  position: fixed;
  height: 83%;
  width: 100%;
  top: 12%;
}

.footer {
  height: 5%;
  position: fixed;
  width: 100%;
  bottom: 0;
}