<section  class="education-index">
    <div class="card-education-index-resume">
        <div class="card-education-index">
            <img src="https://theme.zdassets.com/theme_assets/9633455/ecf228e8c15da1a8bd07f574e675a0ac59330968.png" alt="Logo Sabios" width="150px">
            <div class="card-education-index-info">
                <p>Nível: Profissionalizante</p>
                <p>Status: Concluído</p>
            </div>
        </div>
    </div>
    <div class="card-education-index-description">
        <h1>Ciência da Computação</h1>
        <p>O módulo tem foco no aprendizado da aplicação de técnicas de algoritmos e estrutura de dados, conteúdos fundamentais para construção de boas aplicações e estruturas de código.</p>
        <p>Ao final deste módulo, você será capaz construir algoritmos que permitem resolver problemas de maneira eficiente e organizada, o que é crucial para a construção de sistemas robustos, escaláveis e com maior velocidade no processamento de dados. Por esse motivo, os conteúdos de algoritmos e estruturas de dados irão oferecer habilidades valiosas para qualquer pessoa desenvolvedora que deseje construir uma carreira sólida na programação, pautada em performance e boas práticas de desenvolvimento.</p>
        <hr>
        <h3>Habilidades técnicas:</h3>
        <div class="habilidades">
            <ul>
                <li>Algoritmos</li>
                <li>Estrutura de Dados</li>
            </ul>
        </div>
    </div>
    <iframe src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/77936831" class="pdf-iframe"></iframe>
</section> 

