<section>
    <div class="projectPreview">
        <iframe src="https://user-images.githubusercontent.com/104307222/235514732-700d08e0-787c-4b01-b00f-080fc3b0e03d.webm" frameborder="0"></iframe>
        <div class="projectPreview-btn">
            <!-- <a href="https://github.com/priscilaSartori/project-pixels-art/tree/main" target="_blank" rel="noopener noreferrer"> -->
                <button type="button">Acessar Projeto</button>
            <!-- </a> -->
            <a href="https://github.com/priscilaSartori/project-todo-list" target="_blank" rel="noopener noreferrer">
                <button type="button">Acessar repositório</button>
            </a>
            <!-- <a href="https://www.linkedin.com/posts/priscila-sartori_html-css-javascript-activity-6961667072938389504-Xa5z?utm_source=share&utm_medium=member_desktop" target="_blank" rel="noopener noreferrer"> -->
                <button type="button">Ver post no Linkedin</button>
            <!-- </a> -->
        </div>
    </div>
    <div class="projectInfo">
        <div class="projectInfo-titleClose">
            <h1>TODO LIST</h1>
            <button type="button" (click)="toggleChangePassword()">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
        <h4>TRYBE - MODULO FRONT-END</h4>
        <P>Implementação de uma lista de tarefas usando HTML, CSS e JavaScript.</P>
        <h4>Habilidades desenvolvidas</h4>
        <ul>
            <li>HTML: Estruturação do conteúdo da página.</li>
            <li>CSS: Estilização da página.</li>
            <li>Javascript: Adição de comportamento dinâmico na página, manipulação do DOM para adicionar e remover itens a lista, utilização de eventos para identificar quando a pessoa está interagindo com a página e a criação de funções para tratar esses eventos de forma apropriada.</li>
        </ul>
        <p>Realizado em 10/09/2022</p>
    </div>
</section>
