.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 90%;
}

.home-info {
    max-width: 50%;
    text-align: left;
}

.home-info p {
    color: #1a2744;
    font-size: 30px;
}

.home-info h1 {
    font: 500 4em Poppins,sans-serif; 
    color: #1a2744;
    margin-top: 3px;
    width: 500px;
}

.home-info h2 {
    color: #1a2744;
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    max-width: 80%;
    height: auto;
}

@media screen and (max-width: 1050px) {
    .home {
        flex-direction: column;
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .home {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .home-info {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .home-info h1 {
        width: 350px; 
        font: 500 40px Poppins,sans-serif;
    }
}