<div class="home">
    <div class="home-info">
        <h1>Olá, meu nome é</h1>
        <h1>Priscila Sartori</h1>
        <h2>
            Desenvolvedora {{ partialWord }}
            <span class="cursor" [ngClass]="{ 'blink': partialWord.length === 0 }"></span>
        </h2>
    </div>
    <div class="home-img">
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--O0u1bNHs--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://miro.medium.com/max/1400/0%2APXf5ge7QCN9Ga_CL.gif" alt="">
    </div>
</div>
