.home {
    display: flex;
    flex-direction: row;
    height: 100%;
    top: 10px;
    /* background-color: black; */
    background-image: url('https://d3un0zjblgkxzb.cloudfront.net/drupal/public/styles/iwc_banner_internas_2000x384_webp/public/media/hero/2023-02/joshua-woroniecki-lzh3hPtJz9c-unsplash.jpg.webp?VersionId=4r4yJ5w_u2tTG2HAIiXBStDgszwP_thC&itok=46LDaQw_');
    background-repeat: no-repeat;
    background-position:left;
    background-color: black;
    background-size: cover;
}

.home-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items:flex-start;
    /* height: 600px; */
    padding: 150px 0 0 50px;
}

.home-info p {
    color: #fff;
}

.home-info h1 {
    font-size: 50px; 
    color: violet;
}

.home-info h2 {
    color: #fff;
}

.home-img {
    width: 50%;
}

.home-img img {
    width: 750px;
    height: 400px;
}