<section  class="education-index">
    <div class="card-education-index-resume">
        <div class="card-education-index">
            <img src="https://theme.zdassets.com/theme_assets/9633455/ecf228e8c15da1a8bd07f574e675a0ac59330968.png" alt="Logo Sabios" width="150px">
            <div class="card-education-index-info">
                <p>Nível: Profissionalizante</p>
                <p>Status: Concluído</p>
            </div>
        </div>
    </div>
    <div class="card-education-index-description">
        <h1>Desenvolvimento Front-end</h1>
        <p>O módulo vai concentrar o aprendizado nas três linguagens que permitem um site ter funcionalidades: HTML (responsável por estruturar uma página), CSS (linguagem de cores e estilos) e o Javascript (que traz o dinamismo e vida para páginas da web). As aulas cobrem o aprendizado essencial para aprender a construir aplicações.</p>
        <p>Projetar, criar e dar vida às páginas de um site ou aplicativo como uma pessoa desenvolvedora ou programadora. Você terá a compreensão dos princípios do front-end (a interface gráfica do usuário em um site), além de escrever os códigos para montar projetos interativos do zero.</p>
        <hr>
        <h3>Habilidades técnicas:</h3>
        <div class="habilidades">
            <ul>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <ul>
                <li>Javascript</li>
                <li>React</li>
            </ul>
            <ul>
                <li>Testes Unitários</li>
            </ul>
        </div>
    </div>
    <iframe src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/67160810" class="pdf-iframe"></iframe>
</section> 
