<section>
    <div class="filtro">
        <div class="alternativa">
            <label for="alternativa">Filtrar por módulo: </label>
            <select [(ngModel)]='alternativaSelecionada' (change)="capturarSelecao()">
                <option *ngFor="let alternativa of alternativas" id="alternativa" [value]="alternativa">{{ alternativa }}</option>
            </select>
        </div>
        <div class="alternativa">
            <label for="habilidade">Filtrar por stack: </label>
            <select [(ngModel)]='habilidadeSelecionada' (change)="aplicarFiltros()">
                <option *ngFor="let habilidade of habilidades" id="habilidade" [value]="habilidade">{{ habilidade }}</option>
            </select>
        </div>
    </div>
    <div class="projetos">
        <div *ngFor="let project of projetosFiltrados">
            <div class="projeto" (click)="displayInformation(project.id)">
                <div class="imagemProjeto">
                    <img class="imagemProjeto-img" src={{project.imagem}} alt="{{project.name}}">
                </div>
                <div class="infoProjeto">
                    <h3>{{project.name}}</h3>
                    <div class="iconeProjeto">
                        <div *ngFor="let icone of project.icones">
                            <img class="icone" src="{{icone}}"/> 
                        </div> 
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</section>