section {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 462px;
}

.projeto {
    width: 370px;
    /* border: 3px solid indigo;
    background-color: indigo; */
    margin: 10px;
    box-shadow: 1px 2px 1px 1px;
    border: #c8cbd6 solid 3px;
}

.imagemProjeto {
    margin: 0 10px 0 10px;
    padding: 10px 0 10px 0;
    width: 350px;
    height: 250px;
    
}

.imagemProjeto-img {
    width: 350px;
    height: 250px;
    border: #c8cbd6 solid 2px;
}

.projeto:hover {
    z-index: 1;
    background-color: transparent;
    border: none;
    box-shadow: none;

    .imagemProjeto-img{
        position: relative;
        top: -8px;
        left: -15px;
        width: 370px;
        height: 320px;
        box-shadow: 3px 4px 3px 3px;
    }
    .infoProjeto {
        display: none;
    }
} 

.infoProjeto {
    width: 350px;
    display: flex;
    padding: 0 10px 0 10px;
    flex-direction: row;
    justify-content: space-between;
}

.icone {
    width: 30px;
    margin-left: 5px;
}

h3 {
    color: #1a2744;
}

.iconeProjeto {
    display: flex;
    justify-content: flex-end;
}