<section>
    <h2>PROJETOS</h2>
    <div class="projetos">
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>PIXELS ART</h3>
                <h4>TRYBE</h4>
                <h4>FUNDAMENTOS</h4>
            </div>
            <video src="https://user-images.githubusercontent.com/104307222/235483773-a8738862-fda3-452d-9c3e-d8f8d32898f6.mp4"></video>
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TELA LOGIN</h3>
                <h4>CODANTE</h4>
                <h4>FRONT-END</h4>
            </div>
            <img class="imgProjeto" src="https://raw.githubusercontent.com/priscilaSartori/project-codante-tela-login-tailwind/main/src/images/TelaLogin.png" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/222272710-d163957e-5ec1-4d91-b0b0-501287eb56a4.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRYBEWARTS</h3>
                <h4>TRYBE</h4>
                <h4>FRONT-END</h4>
            </div>
            <img class="imgProjeto" src="https://github.com/priscilaSartori/project-trybewarts/blob/main/Projeto%20Trybewarts.png?raw=true" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/getbootstrap/images/987f8f6c-263a-47b1-a85d-853cfca215d9.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TODO LIST</h3>
                <h4>TRYBE</h4>
                <h4>FRONT-END</h4>
            </div>
            <video src="https://user-images.githubusercontent.com/104307222/235514732-700d08e0-787c-4b01-b00f-080fc3b0e03d.webm"></video>
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>SHOPPING CART</h3>
                <h4>TRYBE</h4>
                <h4>FRONT-END</h4>
            </div>
            <video src="https://user-images.githubusercontent.com/104307222/242081382-b83c95e7-3dde-4d36-bcab-febec1ecbed8.mp4"></video>
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRYUNFO</h3>
                <h4>TRYBE</h4>
                <h4>FRONT-END</h4>
            </div>
            <img class="imgProjeto" src="https://github.com/priscilaSartori/project-tryunfo/raw/main/src/images/ImageProjeto2.png" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRYBETUNES</h3>
                <h4>TRYBE</h4>
                <h4>FRONT-END</h4>
            </div>
            <img class="imgProjeto" src="https://github.com/priscilaSartori/project-trybetunes/raw/main/src/images/TelaSearch.png" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>ONLINE STORE</h3>
                <h4>TRYBE</h4>
                <h4>FRONT-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRYBE WALLET</h3>
                <h4>TRYBE</h4>
                <h4>FRONT-END</h4>
            </div>
            <img class="imgProjeto" src="https://github.com/priscilaSartori/project-trybewallet/raw/main/src/TelaWallet.png" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRIVIA</h3>
                <h4>TRYBE</h4>
                <h4>FRONT-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>STARWARS</h3>
                <h4>TRYBE</h4>
                <h4>FRONT-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>MYSQL ONE FOR ALL</h3>
                <h4>TRYBE</h4>
                <h4>BACK-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/222271417-3c2f7bd1-df2c-4603-90a2-b88522e74f64.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TALKER MANAGER</h3>
                <h4>TRYBE</h4>
                <h4>BACK-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/222271452-10564e57-06b4-42b8-9d8a-7b71a2a4aef9.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>STORE MANAGER</h3>
                <h4>TRYBE</h4>
                <h4>BACK-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/222271417-3c2f7bd1-df2c-4603-90a2-b88522e74f64.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>BLOGS API</h3>
                <h4>TRYBE</h4>
                <h4>BACK-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/222271452-10564e57-06b4-42b8-9d8a-7b71a2a4aef9.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>MYSQL ALL FOR ONE</h3>
                <h4>TRYBE</h4>
                <h4>BACK-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/222271417-3c2f7bd1-df2c-4603-90a2-b88522e74f64.svg"/>
                    <img class="icone" src="" alt="Northwind"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>DOCKER TODO LIST</h3>
                <h4>TRYBE</h4>
                <h4>BACK-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/222271389-74be460b-5aab-45fb-be58-ea17daf1ba6f.svg"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRYBETS</h3>
                <h4>TRYBE</h4>
                <h4>C#</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRYBE HOTEL</h3>
                <h4>TRYBE</h4>
                <h4>C#</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRYBE GAMES</h3>
                <h4>TRYBE</h4>
                <h4>C#</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRYBE BANK</h3>
                <h4>TRYBE</h4>
                <h4>C#</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>API DE RECEITAS</h3>
                <h4>TRYBE</h4>
                <h4>C#</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>ALUGUEL DE CARROS</h3>
                <h4>TRYBE</h4>
                <h4>C#</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://upload.vectorlogo.zone/logos/javascript/images/239ec8a4-163e-4792-83b6-3f6d96911757.svg">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRYBE FUTEBOL CLUBE</h3>
                <h4>TRYBE</h4>
                <h4>BACK-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg">
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg">
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/226727689-f5bf535c-7f9f-4adf-8d61-b701f00775ff.png">
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/222271389-74be460b-5aab-45fb-be58-ea17daf1ba6f.svg">    
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>RESTAURANT ORDERS</h3>
                <h4>TRYBE</h4>
                <h4>PYTHON</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/226727689-f5bf535c-7f9f-4adf-8d61-b701f00775ff.png">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TING</h3>
                <h4>TRYBE</h4>
                <h4>PYTHON</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/226727689-f5bf535c-7f9f-4adf-8d61-b701f00775ff.png">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>DELIVERY APP</h3>
                <h4>TRYBE</h4>
                <h4>FULL-STACK</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg">
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg">
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/226727689-f5bf535c-7f9f-4adf-8d61-b701f00775ff.png">
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/222271389-74be460b-5aab-45fb-be58-ea17daf1ba6f.svg">    
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>RECIPES APP</h3>
                <h4>TRYBE</h4>
                <h4>FRONT-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=JavaScript&logoColor=black"/>
                    <img class="icone" src="https://img.shields.io/badge/React-F7DF1E?&style=for-the-badge&logo=react&logoColor=black"/>
                    <img class="icone" src="https://img.shields.io/badge/Jest-F7DF1E?style=for-the-badge&logo=Jest&logoColor=black"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>MOMENTS</h3>
                <h4>HORA DE CODAR</h4>
                <h4>FULL-STACK</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://github.com/priscilaSartori/project-moments/raw/main/moments/mock-moment-images/home.png"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>DASHBOARD</h3>
                <h4>FULL-STACK</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="" alt="ANGULAR"/>
                    <img class="icone" src="" alt="EXPRESS"/>
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>ALGORITHMS</h3>
                <h4>TRYBE</h4>
                <h4>PYTHON</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/226727689-f5bf535c-7f9f-4adf-8d61-b701f00775ff.png">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>CAR SHOP</h3>
                <h4>TRYBE</h4>
                <h4>BACK-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/226727689-f5bf535c-7f9f-4adf-8d61-b701f00775ff.png">
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/222271389-74be460b-5aab-45fb-be58-ea17daf1ba6f.svg">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>MONGODB</h3>
                <h4>TRYBE</h4>
                <h4>BACK-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://github.com/joanamds/joanamds/assets/106452876/99a8a0f3-61d0-4903-836e-c10fe7522953">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRYBERS AND DRAGONS</h3>
                <h4>TRYBE</h4>
                <h4>BACK-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/226727689-f5bf535c-7f9f-4adf-8d61-b701f00775ff.png">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
        <div class="projeto">
            <a href="">
            <div class="headerProjeto">
                <h3>TRYBESMITH</h3>
                <h4>TRYBE</h4>
                <h4>BACK-END</h4>
            </div>
            <img class="imgProjeto" src="" alt="">
            <div class="iconeProjeto">
                <div>
                    <img class="icone" src="https://user-images.githubusercontent.com/106452876/226727689-f5bf535c-7f9f-4adf-8d61-b701f00775ff.png">
                </div>
                <div>
                    <img class="icone" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                </div>
            </div>
            <p>Criado em: xx/xx/xxxx</p>
            </a>
        </div>
    </div>
</section>

