<section>
    <div *ngFor="let project of projects">
        <div class="projeto" (click)="displayInformation(project.id)">
            <div class="imagemProjeto">
                <img class="imagemProjeto-img" src={{project.imagem}} alt="{{project.name}}">
            </div>
            <div class="infoProjeto">
                <h3>{{project.name}}</h3>
                <div class="iconeProjeto">
                    <div *ngFor="let icone of project.icones">
                        <img class="icone" src="{{icone}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>