<section>
    <div class="projectPreview">
        <iframe src="https://user-images.githubusercontent.com/104307222/235483773-a8738862-fda3-452d-9c3e-d8f8d32898f6.mp4" frameborder="0"></iframe>
        <div class="projectPreview-btn">
            <!-- <a href="https://github.com/priscilaSartori/project-pixels-art/tree/main" target="_blank" rel="noopener noreferrer"> -->
                <button type="button">Acessar Projeto</button>
            <!-- </a> -->
            <a href="https://github.com/priscilaSartori/project-pixels-art/tree/main" target="_blank" rel="noopener noreferrer">
                <button type="button">Acessar repositório</button>
            </a>
            <a href="https://www.linkedin.com/posts/priscila-sartori_html-css-javascript-activity-6961667072938389504-Xa5z?utm_source=share&utm_medium=member_desktop" target="_blank" rel="noopener noreferrer">
                <button type="button">Ver post no Linkedin</button>
            </a>
        </div>
    </div>
    <div class="projectInfo">
        <div class="projectInfo-titleClose">
            <h1>PIXELS ART</h1>
            <button type="button" (click)="toggleChangePassword()">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
        <h4>TRYBE - MODULO FUNDAMENTOS</h4>
        <P>Implementação de um editor de arte com pixels em que a pessoa usuária poderá escolher uma cor em uma paleta de cores e poderá pintar o que quiser em um quadro branco art artist</P>
        <h4>Habilidades desenvolvidas</h4>
        <ul>
            <li>Javascript: DOM, seletores, elementos, eventos e web storage</li>
        </ul>
        <p>Realizado em 02/08/2022</p>
    </div>
</section>