<section>
    <div class="projectPreview">
        <video controls>
            <source [src]="projects[projectId].iframe" type="video/mp4">
            Seu navegador não suporta a reprodução de vídeos.
        </video>
        <div class="projectPreview-btn">
            <a *ngIf="projects[projectId].linkProjeto" href={{projects[projectId].linkProjeto}} target="_blank" rel="noopener noreferrer">
                <button type="button">Acessar Projeto</button>
            </a>
            <a *ngIf="projects[projectId].linkRepositorio" href={{projects[projectId].linkRepositorio}} target="_blank" rel="noopener noreferrer">
                <button type="button">Acessar repositório</button>
            </a>
            <a *ngIf="projects[projectId].linkLinkedin" href={{projects[projectId].linkLinkedin}} target="_blank" rel="noopener noreferrer">
                <button type="button">Ver post no Linkedin</button>
            </a>
        </div>
    </div>
    <div class="projectInfo">
        <div class="projectInfo-titleClose">
            <h1>{{projects[projectId].name}}</h1>
            <button type="button" (click)="toggleChangePassword()">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
        <div class="projectInfo-details">
            <p>{{projects[projectId].descricao}}</p>
            <h4>Habilidades desenvolvidas</h4>
            <ul *ngFor="let habilidade of projects[projectId].habilidades">
                <li>{{habilidade}}</li>
            </ul>
            <p>Realizado em {{projects[projectId].data}}</p>
        </div>
    </div>
</section>

