section {
    margin: 20px 70px;
}

.card-sabios {
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    min-height: 480px;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 3px 4px 3px 3px #50E3C2;
    border: #c8cbd6 solid 1px;
}